<%= @user.name.capitalize %>
<br/>
Available classes :
<br/>
<% @klasses.each do |klass| %>
<div> <%= klass.name %> </div>
<%= button_to 'reserve', {reservation: {user_id: @user.id, klass_id: klass.id}, controller: 'reservations', action: 'create', :method => :post} %>

<br/>
<% end %>