<%= @klass.name.capitalize %>
<br>
Available users:
<br>
<% @users.each do |user| %>
<div> <%= user.name %> </div>
<%= button_to 'reserve', {reservation: {user_id: user.id, klass_id: @klass.id}, controller: 'reservations', action: 'create', :method => :post} %>

<br>
<% end %>